.nav {
    padding-top: 25px;
    padding-bottom: 25px;
    grid-area: n;
    background-color: #796f86;
    width: 25%;
    float: left;
    height: 844px;
}

.item {
    font-size: 23px;
    margin: 20px 35px;
    font-style: italic;
}

.item a {
    color: #ebe9ef;
    text-decoration: unset;
}

.item a.activeLink {
    color: gold;
    font-size: 26px;
}

.settings {
    margin-top: 45px;
}