body {
  /*background-image: url("https://img1.goodfon.ru/wallpaper/nbig/d/6c/gold-texture-golden-zoloto-fon-3619.jpg");*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
  background-color: #1a1a22;
  font-family: Roboto;
  font-size: 18px;
  letter-spacing: 1px;
}

.app-wrapper {
  margin: 0 auto;
  width: 1200px;
}

.app-wrapper-content {
  background-color: #ebe9ef;
  height: 894px;
  width: 75%;
  box-sizing: border-box;
  float: left;
  padding: 45px 35px;
}